{{#each this}}
<li class="scientist-item">
    <img src="{{image}}" alt="{{name}}-{{surname}}" class="scientist-picture">
    <div class="info-container">
        <h3 class="scientist-name">{{name}} {{surname}}</h3>
        <p class="scientist-life">{{born}}-{{dead}}</p>
    </div>
</li>
{{/each}}